.bottom-bg-container{
    background-color: rgb(33, 37, 41);
    color: #ffffff;
    padding: 20px;
}
.un-list{
  list-style: none;
}

.main-heading{
  font-size: 20px;
}
.wave-footer {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-color: #0099ff; /* Set background color to match the wave */
  }
  
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200%; /* Ensures the wave can move horizontally */
    height: 100%;
    animation: animateWave 10s linear infinite; /* Apply animation */
  }
  
  @keyframes animateWave {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Move it by -50% of the total width to create a continuous effect */
    }
  }
  
  